/* Universal Styles */

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf');
    
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('assets/fonts/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('assets/fonts/static/Inter-Bold.ttf');
    
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('assets/fonts/static/Inter-SemiBold.ttf');
   
}

body {
    font-family: 'Inter', sans-serif; /* Use 'Inter' as the preferred font, fallback to sans-serif if not available */
}

/* Other CSS rules using 'Inter' as the font */


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    height: 100vh;
}

p {
    font-size: 0.875rem;
}

/* Body Section */

.container {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.content {
    background-color: hsl(0, 0%, 12%);
    padding: 2rem;
    border-radius: 0.6rem;
    text-align: center;
    
}


.pres-content {
    letter-spacing: 0.05rem;

}

.pres-content img {
    border-radius: 50%;
    width: 30%;
    height: auto;
}

.pres-content h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem 0;
}


.pres-content h3 {
    color: hsl(75, 94%, 57%);
    font-size: 0.675rem;
    font-weight: 600;
    padding-bottom: 1rem;
    
}

.pres-content p {
    font-weight: 100;
    padding-bottom: 0.8rem;
}


.links-container ul {
    list-style: none;
}

.links-container li {
    margin: 0.6rem 0;
    background-color: hsl(0, 0%, 20%);
    border-radius: 0.3rem;
    padding: 0.5rem 0;
    transition: background-color 700ms ease-in 100ms;
}

.links-container a {
    text-decoration: none;
    color:  hsl(0, 0%, 100%);
    font-weight: bolder;
    
}

.links-container li:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
}

@media screen and (max-width: 370px) {
    html {
        font-size: 12px;
    }
}